<html>
<head>
<title>Fat Me</title>
</head>
<body>
    <h1>Weight of My Fat Arse</h1>
    {% if today %}<p class="today" style="font-size: 3em;">{{ today }} ({{ done }} gone, {{ left }} left)</p>
    <p>consuming {{ consumption }} kcal/d</p>
    {% else %}
    <p class="no_data" style="color: #f00;">I've been too lazy to report for today</p>
    {% endif %}
    <p>These numbers describe the weight of my fat arse day by day in
    kilograms. My goal is {{ goal }}.</p>
    <table>
    {% for w in weights %}
    {% ifchanged %}<tr><th colspan="2">{{ w.date|date:"F Y" }}</th></tr>{% endifchanged %}
    <tr><td>{{ w.date|date:"d.m." }}</td><td>{{ w.weight }}</td></tr>
    {% endfor %}
    </table>
</body>
</html>
