{% extends "base.html" %}
{% block "content" %}
  <div class="hero-unit">
    <h1>{{ today.weight }} kg <small>{{ done }} gone, {{ left }} left</small></h1>
    <p>Weight of My Fat Arse</p>
  </div>
  <div class="row">
    <div class="span6">
      <p>{{ days }} days gone, ~{{ days_left }} to go. At current pace {{ est_day|date:"d.m.Y" }}.</p>
      <p>Currently consuming {{ consumption }} kcal/d sitting still.</p>
      <p>These numbers describe the weight of my fat arse day by day in kilograms. My goal is {{ goal }} at {{ final_day|date:"d.m.Y" }}. That's a total of {{ total_days }} days. According to plan {{ goal_days_left }} days left.</p>
      <p>My top weight has been {{ max.weight }} on {{ max.day|date:"d.m.Y" }} and lowest so far {{ min.weight }} on {{ min.day|date:"d.m.Y" }}.</p>
      <p>The best loss has been {{ min.change }} on {{ min.chg_day|date:"d.m.Y" }} and top gain was {{ max.change }} on {{ max.chg_day|date:"d.m.Y" }}.</p>
      <p>At a steady pace I should weigh {{ goal_today }} kg today. So I am {{ actual }}.</p>
      <p><a href="#" class="btn" id="add">Add weights</a></p>
    </div>
    <div class="span6">
      <table class="table">
      {% for w in weights %}
      {% ifchanged w.date.year w.date.month %}
      {% if not forloop.first %}
        </tbody>
      </table></tr>
      {% endif %}
      <tr><th><a href="javascript:void(0)" data-toggle="collapse" data-target=".{{ w.date|date:"Y-m" }}">{{ w.date|date:"F Y" }}</a></th></tr>
      <tr><td class="{{ w.date|date:"Y-m" }} collapse{% if w.date.today|date:"Y-m" != w.date|date:"Y-m" %} in{% endif %}"><table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Weight</th>
            <th>Change</th>
            <th>Week average</th>
            <th>Change</th>
          </tr>
        </thead>
        <tbody>
      {% endifchanged %}
        <tr>
          <td>{{ w.date|date:"d.m." }}</td>
          <td>{{ w.weight }}</td>
          <td>{{ w.change }}</td>
          <td>{{ w.avg }}</td>
          <td{% if w.chg_avg < -0.2 %} class="text-success"{% else %}{% if w.chg_avg > 0.0 %} class="text-error"{% endif %}{% endif %}>{{ w.chg_avg }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table></td></tr>
      </table>
    </div>
  </div>
  <div id="mmodal" class="modal hide fade" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Add weight</h3>
    </div>
    <form method="post" class="form-horizontal" action="/api/weight/">
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <div class="control-group">
        <div class="controls">
          <a href="#" class="btn">Close</a>
          <button type="submit" class="btn btn-primary">Do it!</button>
        </div>
      </div>
    </div>
    </form>
  </div>
  <style type="text/css">
    .collapse td, .collapse th {
        display: none;
    }
    .collapse.in td, .collapse.in th {
        display: table-cell;
    }
    .collapse table {
        margin-bottom: 0px;
    }
  </style>
  <script type="text/javascript">
    $('#add').click(function() {$('#mmodal').modal({remote: '/api/weight/'}); return false});
    $('.collapse').collapse()
  </script>
{% endblock "content" %}
